<div class="footer-copyright">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-12">
              Copyright &copy; 2018 {{ site.data.author.name }} - All rights based on {{ site.data.lisence.cc-by-sa-mini }}.
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{{ "/assets/js/jquery.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

{% include googleanalytics.html %}
