<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <!-- baidu search -->
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="baidu-site-verification" content="CPToBxeC1k"/>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <!-- CSS include -->
  {% include stylesheet_css.html %}

  <link rel="icon" type="image/png" href="{{ site.favicon | prepend: site.baseurl}}">

  <!-- Hit Kounter LC -->
  {% if site.hitcounter %}
  {% include Hit_kounter_LC.html %}
  {% endif %}

  {% include notuse.html %}

</head>
