    <script type="text/javascript">
    function scrollToCommentGo () {
        document.getElementById('CommentSpanID').scrollIntoView({
            behavior: 'smooth',
            block: 'end',
            inline: 'nearest'
        })
    }
    </script>

    <script type="text/javascript">
    function scrollToCommentBack () {
        document.getElementById('spanid').scrollIntoView({
            behavior: 'smooth',
            block: 'center',
            inline: 'nearest'
        })
    }
    </script>
