<!DOCTYPE html>
<html lang="zh-CN">
    {% include head.html %}
    <body>
        {% include blog_header.html %}

        {% if site.mathjax %}
        {% include Mathjax_include.html %}
        {% endif %}

        <main class="blogmain">
            <header>
                <h1 class="article-title">{{ page.title }}</h1>
                <p class="article-time">
                    {{ page.time }},  发表于 <span>{{ page.location }}</span> 
                    <span class="pause"> | </span> 浏览量：<span data-hk-page="current"> - </span>次
                </p>
                <p class="article-hint">
                    如果你对本小站有任何的建议或者疑问, 可以在
                    <button id='welcomment' style="welcomment" onclick="scrollToView()">欢迎评论</button>
                </p>
            </header>
            {{ content }}

            {% if site.intenseDebate %}
              {% include intenseDebate_include.html %}
            {% endif % }

            {% include post_footer.html %}
        </main>

        {% include footer.html %}
    </body>


    <script type="text/javascript">
    function scrollToView () {
        document.getElementById('welcomment').scrollIntoView({
            behavior: 'smooth',
            block: 'end',
            inline: 'nearest'
        })
    }
    </script>

</html>
