<!DOCTYPE html>
<html lang="zh-CN">

    {% include head.html %}

    <body>

        {% include blog_header.html %}

        {% if site.mathjax %}
        {% include Mathjax_include.html %}
        {% endif %}

        <main class="blogmain">

            {% include post_header.html %}

            {{ content }}

            {% include intenseDebate_include.html %}

            {% include post_footer.html %}

        </main>

        {% include footer.html %}

    </body>

    {% include jumpTopDown.html %}

</html>
